/* CSS HEX */
:root {
    --dark-cyan: #119da4ff;
    --cerulean: #0c7489ff;
    --midnight-green: #13505bff;
    --black: #040404ff;
    --timberwolf: #d7d9ceff;
}
/* Some basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p{
    margin-top: 1rem;
    margin-left: 0.5rem;
}

header {
    background-color: var(--midnight-green);
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar, .container-fluid {
    background-color: var(--midnight-green);
    padding: 0;
    margin: 0;
    border: 0;
    color: white !important;
}

.navbar-home {
    color: white !important;
}



img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 800px;
    margin: 20px auto 0px;
    padding: 0 20px;
    padding-bottom: 60px; /* Adjusted to account for footer height */
}

footer {
    background-color: var(--midnight-green);
    color: var(--timberwolf);
    text-align: center;
    /*padding: 10px 0;*/
    bottom: 0;
    width: 100%;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input field styling */
input[type="number"],
input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

    button:hover {
        background-color: #0056b3;
    }

/* Total label styling */
#total-label {
    margin-top: 20px;
    font-weight: bold;
}



.nav {
    height: 50px;
    width: 100%;
    background-color: var(--midnight-green);
    position: relative;
    justify-content: space-between;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 11px 10px 11px 10px;
            text-decoration: none;
            color: #efefef;
        }

            .nav > .nav-links > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

    .nav > #nav-check {
        display: none;
    }

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
