@{
    ViewData["Title"] = "Home Page";
}

    <header>
        <h1>Hit the Slopes</h1>
    </header>
    <div class="container">
        <h2>About Skiing</h2>
        <p>Skiing is a thrilling winter sport that involves gliding over snow-covered slopes using skis attached to boots. It's not just a sport; 
            it's a way of life for many enthusiasts.</p>
        <p>Whether you enjoy the rush of speeding down steep mountainsides or the peacefulness of cross-country skiing through serene landscapes, 
            there's something for everyone in the world of skiing.</p>
        <img src="~/images/skiier-on-mountain.jpg" />
        <p>I am a lifelong skiier and know that I will continue to enjoy this fun sport for a very long time. </p>
        <img src="~/images/chairlift.jpg" />
    <p>From the adrenaline-pumping downhill runs to the scenic backcountry trails, skiing offers endless opportunities for adventure and exploration.So grab your gear, hit the slopes, and experience the excitement of skiing for yourself!</p>
    </div>


